.svg{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconDiv {
    
    display: flex;
    justify-content: center;
    background-color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
}